@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.gameContainer {
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  justify-content: center;
  
  
}
.leftPaddle{
  height: 20vh;
  width: 1.5vw;
  background-color: #ff00ff;
  border-radius: 15px;
  border: 3px solid #ffffff;
  left: 50px;
  
  
}
.rightPaddle{
  height: 20vh;
  width: 1.5vw;
  background-color: #00ffff;
  border-radius: 15px;
  border: 3px solid #ffffff;
  right: 50px;
  
}
.ball {
  width: 2.5%;
  height: 3%;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}
.rightText{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 0px;
  color: #00ffff;
  font-size: 50px;
  font-family: 'Montserrat';
  font-weight: bolder;
  
}
.leftText{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  bottom: 0px;
  color: #ff00ff;
  font-size: 50px;
  font-family: 'Montserrat';
  font-weight: bolder;
  
}
.myPongNapis img{
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
}
.winnerText{
   font-size: 150px;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-family: 'pixelfont', 'sans-serif';
   
   color: rgb(255, 255, 255);
   font-weight: bolder;
}
.pressSpace img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .winnerText {
    font-size: 1rem;
  }

  .pressSpace img {
    width: 80%;
    height: 40%;
  }

  .rightText,
  .leftText {
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    z-index: 10;
  }

  .leftText {
    left: 0;
    flex-direction: row;
    text-align: left;
  }

  .rightText {
    right: 0;
    
    text-align: right;
  }

  .leftText img,
  .rightText img {
    width: 35vw;
    height: 50px;
    object-fit: contain;
  }
  .rightText span, .leftText span {
    font-size: 4vw;
    font-family: 'Montserrat';
    font-weight: bolder;
  }
  .leftPaddle{
    width: 2vw;
    height: 10vh;
    left: 20px;

  }

  .rightPaddle {
    width: 2vw;
    height: 10vh;
    right: 20px;
    
  }
  .ball{
    width: 3%;
    height: 2%;
  }
  
}
