@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'kollektif';
    src: url('assets/fonts/Kollektif-Bold.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
}
.gameContainer {
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: #0517C9;
  
  
  
}
.KomputerImageGame{
  width: 70%;
}
.logoapp{
  width: 8vw;
  height: 10vh;
  position: absolute;
  top: 40px;
  left: 30px;
  
  cursor: pointer;
  z-index: 1000000;
  
}

.pongPlusPlayer {
  height: 95vh;
  width: 70vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center; /* ⬅️ pushes top and bottom sections apart */
  align-items: center;
  position: relative;
  
}

.ComputerPlayer{
  height: 10vh;
  width: 7vw;
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;;
  background-color: rgb(0, 0, 255, 0.4);
}
.ComputerImage{
  
  border-radius: 20px;
  transform: none;
  height: 100%;
  width: 100%;
  
}
.vsImage{
  height: 10vh;
  width: 7vw;
 
  border-radius: 20px;
  background-image: url("./assets/vsImage.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  background-position: center;
  
}
.humanPlayerContainer{
  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 80%;
}

.playerName{
  align-self: center;
  background-color: white;
  text-transform: uppercase;
  border-radius: 10px;
  height: 3vh;
  width: 95%;
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  color: blue;
  font-family: 'kollektif';
  font-size: 1vw;
  text-align: center;
  

}
.ComputerContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 80%;
 

}
.ComputerText{
  align-self: center;
  text-transform: uppercase;
  background-color: white;
  border-radius: 10px;
  height: 3vh;
  width: 95%;
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  color: blue;
  font-family: 'kollektif';
  font-size: 1vw;
  text-align: center;
}

.HumanPlayer{
  height: 10vh;
  width: 7vw;
  border: 3px solid white;
  border-radius: 20px;
  background-size: contain;
  justify-content: center;
  justify-items: center;
  align-self: center;
  background-repeat: no-repeat;
  place-items: center;
  display: flex;
  z-index: 10000;
  position: relative;
   

}
.defaultUser{
  position: absolute;
  
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 70%;
}
.PlayerVsPlayer {
  
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  /* Replace this: */
  /* gap: 350px; */
  gap: clamp(20px, 10vw, 80px); /* ✅ responsive gap */
  margin-top: 20px;
  margin-bottom: 0px;
  flex-wrap: wrap; /* Optional: allows wrapping on small screens */
}
.pressPause{
  position: absolute;
  display: block;
  bottom: 0;
  right: 10px;
}
.pressPauseText{
  color: white;
  font-size: 1vw;
  font-family: 'kollektif';
}


.pongContainer{
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-left: 4px dashed white;
  border-right: 4px dashed white;
  height: 60vh;
  width: 95%;
  
  background-repeat: no-repeat;
  position: relative;
  
  background-color: rgb(0,0,255, 0.4);
}

.LogoGame{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.2;
  width: 50%;
  height: 60%;
}
.bottomPoints{
  position: fixed;
  width: 90%;
  
  height: 15%;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  aspect-ratio: 1/1;
  
}
.Player1points, .Player2points {
  position: relative;
  display: flex;
  height: 11vh;
  width: 6vw;
  border: 4px solid white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.4);
  aspect-ratio: 1/1;
}

.player1pointstext, .player2pointstext {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  height: 100%;
  width: 100%;
  
  color: white;
  
  font-family: 'kollektif';
}



.leftPaddle{
  height: 15vh;
  width: 1.5vw;
  background-color: #000000;
  border-radius: 15px;
  border: 3px solid #ffffff;
  left: 50px;
  
  
}
.hardIcon{
  size: 1;
}
.normalIcon{
  size: 1;
}
.rightPaddle{
  height: 15vh;
  width: 1.5vw;
  background-color: #ffffff;
  border-radius: 15px;
  border: 3px solid #000000;
  right: 50px;
  
}
.ball {
  width: 2%;
  height: 4%;
  background-color: white;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
}
.rightText{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 0px;
  color: #00ffff;
  font-size: 50px;
  font-family: 'Montserrat';
  font-weight: bolder;
  
}
.leftText{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  bottom: 0px;
  color: #ff00ff;
  font-size: 50px;
  font-family: 'Montserrat';
  font-weight: bolder;
  
}
.myPongNapis img{
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
}
.winContainer{
  border: 4px solid blue;
  

  border-radius: 20px;
   height: 50vh;
   width:25vw;
   position: fixed;
   left: 50%;
   top: 62%;
   transform: translate(-50%, -50%);
   font-family: 'kollektif', 'sans-serif';
   justify-content: start;
   flex-direction: column;
   align-items: center;
   display: flex;
   gap: 40px;
   background-color: white;
   z-index: 10;
}
.winnerAts{
  width: 9vw;
  height: 9vh;
}
.winnerText{
   margin-top: 20px;
   font-size: 3vw;
   position: relative;
   display: flex;
   
   color: blue;
   font-weight: bolder;
}
.playAgain{
  display: flex;
  position: absolute;
  width: 20vw;
  top: 35%;
  height: 7vh;
  font-family: 'kollektif';
  font-size: 1.5vw;
 text-align: center;
 justify-content: center;
 align-items: center;
 background-color: blue;
 border-radius: 20px;
 border: 2px solid black;
 color: rgb(255, 255, 255);
 z-index: 10000;
 cursor: pointer;
 transition: all 0.3s ease;
}
.zapiszWynik{
  display: flex;
  position: absolute;
  width: 20vw;
  height: 7vh;
  top: 60%;
  font-family: 'kollektif';
  font-size: 1.5vw;
 text-align: center;
 justify-content: center;
 align-items: center;
 background-color: blue;
 border-radius: 20px;
 border: 2px solid black;
 color: rgb(255, 255, 255);
 z-index: 10000;
 cursor: pointer;
 transition: all 0.3s ease;
}
.playAgain:hover{
  background-color: rgb(255, 255, 255);
  color: blue;
}
.zapiszWynik:hover{
  background-color: rgb(255, 255, 255);
  color: blue;
}
.pressSpace img{
  width: 10%;
  height: 10%;
  position: absolute;
  right: -22px;
  top: 10px;
  
  
}
.songButtons{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 15%;
  
  gap: 5px;
  justify-content: center;
  place-items: center;
}
.arcadebitContainer{
  height: 5vh;
  width: 3vw;
 
  display: flex;
  position: relative;
}
.arcadebitButton{
  height: 100%;
  width: 100%;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.chillContainer{
  height: 5vh;
  width: 3vw;
 
  display: flex;
  position: relative;
}
.rockContainer{
  height: 5vh;
  width: 3vw;
  
  display: flex;
  position: relative;
}
.rockButton{
  height: 100%;
  width: 100%;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rockicon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 10px;
  color: black;
  pointer-events: none;
}
.pingContainer{
  height: 5vh;
  width: 3vw;
  
  display: flex;
  position: relative;
}
.zmienmuzykeh1{
  color: white;
  font-size: 1.2vw;
  font-family: 'kollektif';
}
.pingButton{
  height: 100%;
  width: 100%;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pingButton:focus,.rockButton:focus, .arcadebitButton:focus,.chillButton:focus{
  background-color: transparent;
}
.pingicon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 10px;
  color: black;
  pointer-events: none;
}
.chillButton{
  height: 100%;
  width: 100%;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.chillButton:hover{
  background-color: transparent;
}
.chillicon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 10px;
  color: black;
  pointer-events: none;
}
.arcadebitButton:hover{
  background-color: transparent;
}
.rockButton:hover{
  background-color: transparent;
}
.pingButton:hover{
  background-color: transparent;
}
.biticon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 10px;
  color: black;
  pointer-events: none;
}
.zmienandsong{
  flex-direction: column;
  gap: 0px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pauseMenu {
  position: absolute;
  bottom: 145px; /* Keep it at the top for proper positioning */
  left: 20px;
  height: 40vh;
  width: 13vw;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  opacity: 0;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* Animate both the transform and opacity over 0.5 seconds */
  transition: opacity 0.5s ease, transform 0.5s ease;
  
  /* Initial state: off-screen at the bottom */
  transform: translateY(100vh); 
}
.gamePausedContainer{
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  display: flex;
  
  
}
.gamePaused{
  position: absolute;
  top: 5px;
  font-size: 1.4vw;
  font-family: 'kollektif';
  color: white;
}
.nacisnij{
  position: absolute;
  bottom: 5px;
  font-size: 1.4vw;
  font-family: 'kollektif';
  color: white;
}
.pauseMenu.show {
  opacity: 1;
  /* Animate it back to its original position */
  transform: translateY(0); 
}


.pauseButtonContainer{
  width: 100%;
  height: 20%;
  
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.muteButtonContainer{
  display: flex;
}
.muteButton{
  height:7vh;
  width:4vw;
  background-color: white;
  border: 2px solid white;
  display: flex;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;

}
.pauseButton{
  height:7vh;
  width:4vw;
  background-color: white;
  border: 2px solid white;
  display: flex;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pauseicon{
  position: absolute;
  height: 60%;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.muteicon{
  position: absolute;
  height: 60%;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
}
.muteButton:hover {
  background-color: transparent;
}
.muteButton:active {
  border-color: #000000;
}



.pauseButton:hover {
  background-color: transparent;
}
.pauseButton:active {
  border-color: #000000;
}
.pongByATS{
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: 'kollektif';
  font-size: 1vw;
  color: white;
  letter-spacing: 2px;
}
.moveButtonsMobile{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 10vw;
  height: 10vh;
  
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.upButton{
  width: 5vw;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  border: 2px solid blue;
  border-radius: 20px;
  visibility: hidden;
  transition: all 0.7s ease;

}
.downButton{
  width: 5vw;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  border: 2px solid blue;
  border-radius: 20px;
  visibility: hidden;
  transition: all 0.3s ease;
}
.arrowUp{
  font-size: 3vw;
}
.mobilePauseToggle{
  height: 5vh;
  width: 3vw;
  border-radius: 10px;
  background-color: white;
  border: 2px solid white;
  position: absolute;
  right: 10px;
  top:10px;
  display: none;
  aspect-ratio: 1/1;
}
.pauseiconmobile{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  aspect-ratio: 1/1;
}
@keyframes spinClockwise {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes spinCounterClockwise {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(-360deg); }
}

.ballSpinningClockwise img {
  animation: spinClockwise 0.4s linear infinite;
}

.ballSpinningCounterClockwise img {
  animation: spinCounterClockwise 0.4s linear infinite;
}


@media (max-width: 768px) {
  .bottomPoints{
    position: fixed;
    top: 20%;
  }
  .KomputerImageGame{
    width: 70%;
  }
  .ComputerContainer{
    margin-bottom: 10px;
  }
  .humanPlayerContainer{
    margin-bottom: 10px ;
  }
  .mobilePauseToggle{
    display: block;
    width: 6vw;
  }
  .gameContainer{
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center -50px;
    opacity: 100%;
  }
  .winnerText {
    font-size: 1rem;
  }
  .logoapp{
    width: 10vw;
    height: 7vh;
  }
  .pressPauseText{
    opacity: 0;
  }
  .pauseMenu {
    position: absolute;
    left: 50%;
    top: 20px;              /* 50px from top */
    right: auto;            /* reset just in case */
    bottom: auto;           /* reset desktop bottom */
    width: 30vw;
    height: 20vh;
    gap: 10px;

    /* Keep horizontal centering even before showing; slide from below */
    transform: translateX(-50%) translateY(0);
  }
  .nacisnij{
    display: none;
  }
.zmienandsong{
  
  width: 100%;
  gap: 0;
}
.songButtons{
  
  height: 40%;
}

.zmienmuzykeh1{
font-size: 2vw;
}
.arcadebitContainer{
  height: 4vh;
  border-radius: 1px;
  width: 5vw;
}
.chillContainer{
  height: 4vh;
  border-radius: 1px;
  width: 5vw;
}
.rockContainer{
  height: 4vh;
  border-radius: 1px;
  width: 5vw;
}
.pingContainer{
  height: 4vh;
  border-radius: 1px;
  width: 5vw;
}
  /* IMPORTANT: keep translateX(-50%) when .show is added */
  .pauseMenu.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
 
  .gamePaused{
    font-size: 2vw;
  }
.pauseButtonContainer{
  
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.muteButton{
  height: 4vh;
  width: 5vw;
  border-radius: 10px;
}
.pauseButton{
  height: 4vh;
  width: 5vw;
  border-radius: 10px;
}


  .pressSpace img {
    visibility: hidden
  }
  .ComputerImage{
    height: 100%;
    width: 100%;
  }
  
  .pongContainer{
    width: 80vw;
    height: 35vh;
  }
  .pongPlusPlayer{
    width: 90vw;
    height: 50vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,  -50%);
  }
  .playerName{
    border-radius: 5px;
    font-size: 2vw;
    height: 2vh;
  }
  .ComputerText{
    border-radius: 5px;
    font-size: 2vw;
    height: 2vh;
  }
  .rightText span, .leftText span {
    font-size: 4vw;
    font-family: 'Montserrat';
    font-weight: bolder;
  }
  .leftPaddle{
    width: 1.5vw;
    height: 7vh;
    left: 20px;

  }

  .rightPaddle {
    width: 1.5vw;
    height: 7vh;
    right: 20px;
    
  }
  .ball{
    width: 3%;
    height: 5%;
  }
  
  .muteButtonContainer{
    height: 4vh;
    width: 7vw;
    left: 70px;
  }
  .player1pointstext, .player2pointstext{
    font-size: 7vw;
    margin: 0;
    
  }
  
  .Player1points, .Player2points{
      width: 10vw;
      height: 6vh;
      border-radius: 10px;
      border: 3px solid white;
      

  }
  .ComputerPlayer{
    width: 10vw;
    height: 6vh;
    
    border-radius: 10px;
  }
  .ComputerImage{
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  .HumanPlayer{
    width: 10vw;
    height: 6vh;
    background-size: 4vw;
    border-radius: 10px;
  }
  .vsImage{
    width: 10vw;
    height: 10vh;
  }
  .downButton, .upButton{
    visibility: visible;
    width: 12vw;
    height: 9vh;
  }
  .moveButtonsMobile{
    width: 25vw;
    justify-content: center;
  }
  .arrowUp{
  font-size: 5vw;
}
.downButton:focus, .upButton:focus{
  background-color: blue;
  border-color: white;
}
.winContainer{
  position: absolute;
  top:  60%;
  width: 45vw;
  height: 35vh;
}
.winnerText{
  font-size: 5vw;
}
.playAgain{
  width: 35vw;
  font-size: 3vw;
}
.zapiszWynik{
  width: 35vw;
  font-size: 3vw;
}
.winnerAts{
  width: 20vw;
}
  
  @media (max-width:550px) {
    .bottomPoints{
      top: 25%;
    }
    .pauseMenu{
      width: 40vw;
    }
    .pongContainer{
    width: 80vw;
    height: 30vh;
    
  }
    .mobilePauseToggle{
    display: block;
    width: 8vw;
  }
  .logoapp{
    top: 20px;
    left: 10px;
    width: 12vw;
    height: 6vh;
  }
    .zmienmuzykeh1{
      font-size: 3vw;
    }
    .gamePaused{
      font-size: 3vw;
    }
    .pauseButton{
      width: 7vw;

      height: 4vh;
      aspect-ratio: 1/1;
      border-radius: 5px;
    }
    .arcadebitButton{
      border-radius: 5px;
    }
    .chillButton{
      border-radius: 5px;
    }
    .rockButton{
      border-radius: 5px;
    }
    .pingButton{
      border-radius: 5px;
    }
    .arcadebitContainer{
      width: 7vw;
      
    }
    .chillContainer{
      width: 7vw;
    }
    .rockContainer{
      width: 7vw;
    }
    .pingContainer{
      width: 7vw;
    }
    .muteButton{
      width: 7vw;
      height: 4vh;
      aspect-ratio: 1/1;
      border-radius: 5px;
    }
    .ComputerPlayer{
        width: 12vw;
        height: 10vh;
        margin-top: 15px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .leftPaddle{
      height: 5vh;
      width: 2vw;
      border: 1px solid white;
    }
    .rightPaddle{
      height: 5vh;
      width: 2vw;
      border: 1px solid black;
    }
    .playAgain{
      height: 7vh;
      width: 50vw;
      font-size: 5vw;
      border-radius: 10px;
    }
    .winnerText{
      font-size: 8vw;
    }
    .zapiszWynik{
      height: 7vh;
      width: 50vw;
      font-size: 5vw;
      border-radius: 10px;
    }
    .winContainer{
      width: 65vw;
    }
    .ComputerImage{
      width: 100%;
      height: 100%;
    }
    .HumanPlayer{
      width: 12vw;
        height: 10vh;
        margin-top: 15px;
        border-radius: 10px;
        
        border: 2px solid white;
    }
    .vsImage{
      width: 40%;
      height: 40%;
    }
    .Player1points, .Player2points{
      width: 10vw;
      height: 6vh;
    }
    .downButton, .upButton{
    visibility: visible;
    width: 20vw;
    height: 9vh;
  }
  .moveButtonsMobile{
    width: 35vw;
    justify-content: center;
  }
   .arrowUp{
  font-size: 7vw;
}
@media (max-width : 395px){
  .pingContainer{
    width: 8vw;
    height: 3vh;
  }
   .logoapp{
    width: 15vw;
    height: 6vh;
  }
  .rockContainer{
    width: 8vw;
    height: 3vh;
  }
  .chillContainer{
    width: 8vw;
    height: 3vh;
  }
  .arcadebitContainer{
    width: 8vw;
    height: 3vh;
  }
  .pauseButton{
    width: 8vw;
    height: 3vh;
  }
  .muteButton{
    width: 8vw;
    height: 3vh;
  }
  .gamePaused{
    font-size: 4vw;
  }
  .zmienmuzykeh1{
      font-size: 4vw;
    }
    .ball{
      width: 3%;
      height: 4%;
    }
    .mobilePauseToggle{
    display: block;
    width: 12vw;
  }
}
  }
  
}
@media (orientation: landscape) and (max-width: 768px) {
  
  .pongContainer{
    position: fixed;
    width: 55vw;
    height: 70vh;
    bottom: 10px;
  }
  .pongPlusPlayer{
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
  }
  /* position stays relative, centered in screen */
  .PlayerVsPlayer{
    
    position: fixed;  
    top: 50%;
    left: 50%;
    width: 90%;
    height: 30%;
    transform: translate(-50%, -50%);
  }
  .ComputerContainer{
    
    height: 100%;
    margin: 0;
    gap: 5px;
  }
  .ComputerPlayer{
    height: 60%;
  }
  .ComputerText{
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4vh;
    padding: 2px;
  }
  .vsImage{
    display: none;
  }
  .humanPlayerContainer{
    
    height: 100%;
    margin: 0;
    gap: 5px;
  }
  .HumanPlayer{
    height: 60%;
    object-fit: contain;
  }
  .playerName{
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4vh;
    padding: 2px;
  }
  .logoapp{
    width: 10vw;
    height: 15vh;
    top: 20px;
    left: 20px;
  }
  .bottomPoints{
    top: 5%;
    align-items: center;
    width: 50vw;
    font-size: 1vw;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 30px;
    justify-content: center;
    
  }
  .Player1points, .Player2points{
    width: 8vw;
    height: 100%;
    border-radius: 10px;
    border: 3px solid white;
    font-size: 1vw;
  }
  .player1pointstext, .player2pointstext{
    font-size: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .leftPaddle{
    height: 15vh;
    width: 1vw;
  }
  .rightPaddle{
    height: 15vh;
    width: 1vw;
  }
  .mobilePauseToggle{
    display: flex;
    position: fixed;
    top: 10px;
    width: 5vw;
    height: 10vh;
    z-index: 100000;
  }
  .pauseMenu{
    position: fixed;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);  
    height: 55vh;
    width: 25vw;  
    z-index: 10000;
    background-color: #0517C9;     
    gap: 0px;     
  }
  .muteButton, .pauseButton{
    height: 10vh;
    width: 5vw;
    border-radius: 5px;
  }
  .muteicon, .pauseicon{
    height: 90%;
    width: 90%;
  }
  .arcadebitContainer,.chillContainer, .rockContainer, .pingContainer{
    height: 8vh;
    width: 4vw;
    border-radius: 0px;
  }
  .arcadebitButton, .chillButton, .rockButton, .pingButton{
    border-radius: 5px;
  }
  .zmienmuzykeh1{
    font-size: 1.8vw;
  }
  .songButtons{
    height: 25%;
    gap: 10px;
  }
  .zmienandsong{
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
  }
  .pauseButtonContainer{
    
    margin-top: 30px;
    height: 13vh;
  }
  
}