/* Modal.css */
@font-face {
    font-family: 'pixelfont';
    src: url('assets/fonts/pixelfont.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
}
h2{
    color: blue;
    font-weight: bolder;
    font-family: 'kollektif';
    font-size: 4vw;
}

.modal-overlay-rules {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-70%);
  width: 40vw;
  
  height: 65vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 8px;
}

.modal-content {
  background: rgb(255, 255, 255);
  border: 4px solid #000000;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
  font-family: 'kollektif';
  
  
  
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
@media (max-width: 768px) {
  .modal-content {
    
    font-size: 2.5vw;
    
  }
  .modal-overlay {
    width: 80%;
    height: 45vh;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
  }
  @media (max-width :450px){
      .modal-content{
        font-size: 3.5vw;
      }
      .modal-overlay{
        height: 35vh;
      }
  }
  
}
@media (orientation: landscape) and (max-width: 768px) {
  .modal-overlay-rules {
    height: 80vh;
    width: 50vw;
    position: fixed;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
  }
  .modal-content{
    font-size: 2vw;
    padding-bottom: 50px;
  }
}
