@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@font-face {
    font-family: 'kollektif';
    src: url('assets/fonts/Kollektif-Bold.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
}


body {
  
  
  
  
}
.backgroundPaddles{
  position: fixed;
  left: 50%;
  top: 50%;
  
  opacity: 20%;
}

.welcomeScreen {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1000ms ease;
  background-color: blue;
  background-image: url("./assets/backgroundPaddles.png");
  background-position-x: 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
.welcomeScreen.fade-out {
  opacity: 0;
  pointer-events: none; /* Prevent clicks during fade */
}



.welcomeScreen a.game:hover {
  /* background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  
  border-radius: 30px; */
  background-color: blue;
  color: white;
  border: 4px solid white;
  border-radius: 30px;
}
.welcomeScreen a.rules{
  position: relative;
  display: flex;
  padding: 15px 30px;
  margin: 40px 0;
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, border-radius 0.3s ease;
  letter-spacing: 10px;
  overflow: hidden;
  border-radius: 15px;
  height: 30px;
  width: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'kollektif', 'sans-serif';
  border: 4px solid #ffffff;
  font-size: 40px;
  background-color: rgb(255, 255, 255);
  
  

}
.welcomeScreen a.game{
  position: relative;
  display: flex;
  padding: 25px 30px;
  
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease, border-radius 0.3s ease;
  letter-spacing: 10px;
  overflow: hidden;
  border-radius: 15px;
  height: 30px;
  width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'kollektif', 'sans-serif';
  border: 4px solid #ffffff;
  font-size: 40px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);

}
.leaderboardButton{
  letter-spacing: 10px;
  color: blue;
  font-weight: 900;
  font-family: 'kollektif';
  font-size: 40px;
  margin-top: 40px;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease, border-radius 0.3s ease;
  border-radius: 15px;
  width: 400px;
  height:85px;
  border: 4px solid #ffffff;
  cursor: pointer;
}
.leaderboardButton:hover{
  background-color: blue;
  color: white;
  border: 4px solid white;
  border-radius: 30px;
}
@keyframes glareFlash {
  0% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: blue;
    color: white;
  }
}


.welcomeScreen a.rules:hover  {
  /* background: #ff00ff;
  color: #ffffff;
  box-shadow: 0 0 5px #ff00ff, 0 0 25px #ff00ff, 0 0 50px #ff00ff,
    0 0 200px #ff00ff;
  
  border-radius: 30px; */
  background-color: blue;
  color: white;
  border: 4px solid white;
  border-radius: 30px;
  
  
}
.button{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}
.button2{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    
}
.musicButtons{
  
  opacity: 0;
  position: relative;
  margin-top: 40px;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  pointer-events: none;
  transition: opacity 0.5s ease;
  column-gap: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-family: 'pixelfont', 'sans-serif';
 
}
.musicButtons.show{
  opacity: 1;
  pointer-events: auto;
}
.musicButtons h1 {
  grid-column: 1 / -1; 
  margin: 0 auto 20px;
  font-size: 1.5rem;
  color: white;
  
  
}
.musicButtons input[type = "radio"] {
  width: 4vw;
  height: 8vh;
  transition: border-radius 0.3s ease, border-color 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 3px solid #ffffff;
  z-index: 100;
  cursor: pointer;
  border-radius: 5px;
  min-width: 50px;  /* ensures they never get too tiny */
  min-height: 50px;
  aspect-ratio: 1/1; 
}
.musicButtons input[type = "radio"]:hover {
  border-radius: 50px;
}
.musicButtons input[type = "radio"]:checked {
  border-color: rgb(0, 0, 0);
  border-radius: 50px;
  
  
}
.bitcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.biticon{
  position: absolute;
  color: rgb(255, 255, 255);
  width: 60%;
  height: 60%;
  transition: color 0.3s ease;
  cursor: pointer;
  
  
}


.chillcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chillicon{
  position: absolute;
  color: rgb(255, 252, 252);
  transition: color 0.3s ease;
  cursor: pointer;
  width: 60%;
  height: 60%;
}
.rockcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rockicon{
  position: absolute;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
  cursor: pointer;
  width: 60%;
  height: 60%;
}
.pingcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pingicon{
  position: absolute;
  color: rgb(255, 254, 254);
  transition: color 0.3s ease;
  cursor: pointer;
  width: 60%;
  height: 60%;
}


.logo{
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.container{
    position: relative;
    align-self: center;
    height: 60vh;
    width: 90vw;
    max-width: 500px;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    position: absolute;
    
    gap: 10px;
    margin-top: 50px;
    
    
    bottom: 7vh;
}
/* .choosePlayer h1[class = "PartykaOpis"]{
  position: absolute;
  right: 50px;
  top: 70px;
  font-family: "kollektif",
  
}
.choosePlayer h1[class = "GrubbaOpis"]{
  position: absolute;
  left: 50px;
  bottom: 70px;
  font-family: "kollektif",
  
} */
.choosePlayer {
  position: fixed;
  display: flex;
  left: 30px;
  top: 150px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  opacity: 0;
  height: 60vh;
  width: 30vw;
  transition: opacity 0.5s ease;
  border: 5px solid white;
  border-radius: 30px;
  background-color: blue;
  color: white;
  
  
}
.HeroSelection{
  width: 100%;
  height: 70%;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin-top: auto;
  column-gap: 5px;
  padding-top: 20px;
  border-top: 3px dashed white;
  
}
.WybierzZawodnika{
  font-size: 3vw;
  font-family: 'kollektif';
  position: relative;
  color: blue;
}
.WybierzZawodnikaContainer{
  position: relative;
  display: flex;
  height: 17vh;
  width: 20vw;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.HeroSelection button:hover {
  box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease;
}
/* .HeroSelection button::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 100%
  );
  transform: rotate(25deg) translateX(-100%);
  transition: transform 0.5s ease;
  pointer-events: none;
}

.HeroSelection button:hover::after {
  transform: rotate(25deg) translateX(100%);
} */

.choosePlayer.show{
  opacity: 1;
  pointer-events: auto;
}
.nataliaPartyka {
  
  background-color: transparent;
  width: 100%;
  height: 20vh;
  pointer-events: none;
  border-bottom-left-radius: 0px ;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  transition: border-color 0.3s ease;
  background-image: url("./assets/NataliaPartyka.png");
  
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.andrzejGrubba {
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: transparent;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s ease;
  background-image: url("./assets/AndrzejGrubba.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  border-bottom-left-radius: 0px ;
  border-bottom-right-radius: 0px;
  
}
.currentUser{
  width: 100%;
  height: 20vh;
  background-color: transparent;
  border: none;
  pointer-events: none;
  transition: border-color 0.3s ease;
  background-image: url('./assets/NowyZawodnik.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;  
  border-bottom-left-radius: 0px ;
  border-bottom-right-radius: 0px;
}
.currentUserText{
   width: 100%;
   height: 7vh;
  padding-top: 2px;
  background-color: white;
  color: blue;
  font-family: 'kollektif';
  font-size: 1.5vw;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.currentUserTextInput{
  height: 80%;
  width: 80%;
  background-color: white;
  color: blue;
  font-family: 'kollektif';
  font-size: 1.3vw;
  border-radius: 10px;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  max-lines: 2;
  
}
.currentUserTextInput::placeholder{
  text-align: center;
}

.grubbaContainer{
  display: flex;
  flex :1;
  border: 2px solid rgb(255, 255, 255);
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  gap: 0px;
  
  
}
.partykaContainer{
  
  display: flex;
  flex :1;
  border: 2px solid rgb(255, 255, 255);
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  gap: 0px;
  
}
.partykaText{
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: white;
  color: blue;
  font-family: 'kollektif';
  font-size: 1.5vw;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  
  
}
.grubbaText{
   width: 100%;
  height: fit-content;
  background-color: white;
  color: blue;
  font-family: 'kollektif';
  font-size: 1.5vw;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
}
.grubbaButton{
  position: absolute;
  bottom: 2px;
  width: 25%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-size: 1vw;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
}
.grubbaButton:hover{
  transform: scale(1.1);
}
.partykaButton{
  position: absolute;
  bottom: 2px;
  width: 25%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-size: 1vw;
  
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
  
  transition: transform 0.3s ease-in-out
}
.currentUserButton{
  position: absolute;
  bottom: 2px;
  width: 25%;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-size: 1vw;
  
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
  
  transition: transform 0.3s ease-in-out
  
  
}
.partykaButton:hover {
  transform: scale(1.1);
}
.currentUserContainer{
  display: flex;
  flex :1;
  border: 2px solid rgb(255, 255, 255);
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  gap: 0px;
  
}


/* .locked{
  height: 15vh;
  width: 8vw;
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: border-color 0.3s ease;
  background-image: url("./assets/locked.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  border-radius: 30px;
} */

.containerForTwo{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.playerIconContainer,
.showSoundsContainer {
  flex: 1;
  max-width: 60%;
  height: 7vh;
  min-height: 20px;
}

.showSoundsButton{
  border: 3px solid rgb(255, 255, 255);
  position: relative;
  width: 200px;
  height: 7vh;
  border-radius: 15px;
  background-color: white;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.5s ease;
  color: blue;
  font-family: 'kollektif', 'sans-serif';
  font-size: 1.2rem;
  cursor: pointer;
  
}
.showSoundsButton:hover{
  border-color: rgb(255, 255, 255);
  background-color: blue;
  color: white;
  border-radius: 30px;
}

.showPlayersButton{
  border: 3px solid rgb(255, 255, 255);
  position: relative;
  width: 200px;
  height: 7vh;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 900;
  z-index: 100;
  background-color: white;
  transition: all 0.5s ease;
  color: blue;
  font-family: 'kollektif', 'sans-serif';
  font-size: 1.2rem;
  cursor: pointer;
  
}
.showPlayersButton:hover{
  border-color: rgb(255, 255, 255);
  background-color: blue;
  color: white;
  border-radius: 30px;
}
.x{
  position: absolute;
  top: 0px;
  right: 15px;
  color: white;
  font-size: 3vw;
  cursor: pointer;
  transition: all 0.3s ease;
}
.x:hover{
  color: red;
}
@media (max-width: 1700px){
  .choosePlayer{
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    z-index: 1000000;
    width: 40vw;
    
  }
  .partykaText{
    height: 7vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .grubbaText{
    height: 7vh;
  }
}
@media (max-width: 768px) {
  .welcomeScreen{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
  }
  .welcomeScreen a.game{
    width: 60vw;
    height: 1vh;
    font-size: 6vw;
    
    letter-spacing: 2px;
  }
  .welcomeScreen a.rules {
    
    width: 20vw;
    height: 1vh;
    font-size: 6vw;
    
    letter-spacing: 2px;
  }
  .leaderboardButton{
   width: 60vw;
   height: 7vh;
   font-size: 6vw;
   letter-spacing: 2px;
}
  .HeroSelection button:active {
  box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease;
}

  .container {
    height: fit-content;
    bottom: 15vh;
    
    gap: 0px;
    
    
  }
  .containerForTwo{
    gap: 20px;
  }
  .showPlayersButton, .showSoundsButton{
    width: 20vw;
    height: 5vh;
  }
  
  

  
  .musicButtons{
    top: auto;
    right: 0px;
    bottom: 20px;

  }
 
.musicButtons input[type="radio"] {
    width: 15vw;  
    height: 15vw;
    min-width: 40px;
    min-height: 40px;
  }
  .showPlayersButton{
    font-size: 0.9rem;
  }
  .showSoundsButton{
    font-size: 0.9rem;
  }
  
  
  .choosePlayer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 80vw;
    z-index: 10000;
    border: 4px solid white;
  }
  .logo{
    width: 40vw;
    height: 10vh;
  }
  .partykaContainer{
    height: 35vh;
    width: 70vw;
  }
  .grubbaContainer{
    height: 35vh;
    width: 70vw;
  }
  .currentUserContainer{
    height: 35vh;
    width: 70vw;
  }
  .currentUserTextInput{
    font-size: 3vw;
  }
  .partykaText{
    height: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
  }
  .grubbaText{
    height: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
  }
  .currentUserText{
    height: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
  }
  .currentUser{
    background-repeat: no-repeat;
    background-size: cover;
    width: 25vw;
    border-radius: 10px;
    height: 20vh;
    
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
  }
  .currentUserTextInput{
    margin: 0;
    padding: 0;
    border: 2px solid black;
  }
  .currentUserButton{
    font-size: 3vw;
    
  }
  .andrzejGrubba{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    height: 20vh;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
  }
  .nataliaPartyka{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    height: 20vh;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;

  }
  .partykaButton{
    font-size: 3vw;
  }
  .grubbaButton{
    font-size: 3vw;
  }
  .locked{
    width: 20vw;
    border-radius: 10px;
    height: 10vh;
  }
  .HeroSelection{
    align-items: center;
    place-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    
    column-gap: 10px;
  }
  .WybierzZawodnikaContainer{
    margin-top: 20px;
    width: 30vw;
    height: 8vh;
  }
  .WybierzZawodnika{
    font-size: 5vw;
  }
  .x{
    font-size: 7vw;
  }
  @media(max-width : 450px){
    .showPlayersButton, .showSoundsButton{
      width: 25vw;
      font-size: 2.5vw;
    }
    .andrzejGrubba{
    width: 100%;
    border-radius: 10px;
    height: 10vh;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
  }
  .grubbaContainer{
    height: 25vh;
    margin-bottom: 40px;
  }
  .grubbaText{
    font-size: 4vw;
  }
  .HeroSelection{
    display: flex;
    
  }
   .currentUserTextInput{
    font-size: 4vw;
  }
  .nataliaPartyka{
    width: 100%;
    border-radius: 10px;
    height: 10vh;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
  }
  .currentUser{
    width: 25vw;
    border-radius: 10px;
    height: 10vh;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
  }
  .currentUserContainer{
    height: 25vh;
    margin-bottom: 40px;
  }
  .currentUserTextInput::placeholder{
    font-size: 3vw;
  }
  .partykaText{
    font-size: 4vw;
  }
  .partykaContainer{
    height: 25vh;
    margin-bottom: 40px;
    
  }
  .partykaButton{
    bottom: 30px;
  }
  .grubbaButton{
    bottom: 30px;
  }
  .currentUserButton{
    bottom: 30px;
  }
  .locked{
    width: 20vw;
    border-radius: 10px;
    height: 10vh;
  }
  .WybierzZawodnikaContainer{
    margin-top: 20px;
    width: 40vw;
    height: 8vh;
    
  }
  .WybierzZawodnika{
    font-size: 5vw;
  }
  .x{
    font-size: 8vw;
  }
  .choosePlayer{
    height: 45vh;
  }
  }
}



