@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@font-face {
    font-family: 'pixelfont';
    src: url('assets/fonts/pixelfont.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
}


body {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  
}

.welcomeScreen {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1000ms ease;
  background-color: blue;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
.welcomeScreen.fade-out {
  opacity: 0;
  pointer-events: none; /* Prevent clicks during fade */
}

.welcomeScreen a.game{
  position: relative;
  display: flex;
  padding: 25px 30px;
  
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
  letter-spacing: 4px;
  overflow: hidden;
  border-radius: 20px;
  height: 50px;
  width: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'pixelfont', 'sans-serif';
  border: 4px solid #ffffff;
  font-size: 20px;
  background-color: rgb(255, 255, 255);

}

.welcomeScreen a.game:hover {
  /* background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  
  border-radius: 30px; */
  background-color: blue;
  color: white;
  border: 4px solid white;
  
}
.welcomeScreen a.rules{
  position: relative;
  display: flex;
  padding: 25px 30px;
  margin: 40px 0;
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  letter-spacing: 4px;
  overflow: hidden;
  border-radius: 20px;
  height: 50px;
  width: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'pixelfont', 'sans-serif';
  border: 4px solid #ffffff;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  
  

}
@keyframes glareFlash {
  0% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: blue;
    color: white;
  }
}


.welcomeScreen a.rules:hover  {
  /* background: #ff00ff;
  color: #ffffff;
  box-shadow: 0 0 5px #ff00ff, 0 0 25px #ff00ff, 0 0 50px #ff00ff,
    0 0 200px #ff00ff;
  
  border-radius: 30px; */
  background-color: blue;
  color: white;
  border: 4px solid white;
  
  
}
.button{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}
.button2{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    
}
.musicButtons{
  
  opacity: 0;
  position: relative;
  margin-top: 40px;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  pointer-events: none;
  transition: opacity 0.5s ease;
  column-gap: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-family: 'pixelfont', 'sans-serif';
 
}
.musicButtons.show{
  opacity: 1;
  pointer-events: auto;
}
.musicButtons h1 {
  grid-column: 1 / -1; 
  margin: 0 auto 20px;
  font-size: 1.5rem;
  color: white;
  
  
}
.musicButtons input[type = "radio"] {
  width: 4vw;
  height: 8vh;
  transition: border-radius 0.3s ease, border-color 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 3px solid #ffffff;
  z-index: 100;
  cursor: pointer;
  border-radius: 5px;
  min-width: 50px;  /* ensures they never get too tiny */
  min-height: 50px;
  aspect-ratio: 1/1; 
}
.musicButtons input[type = "radio"]:hover {
  border-radius: 50px;
}
.musicButtons input[type = "radio"]:checked {
  border-color: rgb(0, 0, 0);
  border-radius: 50px;
  
  
}
.bitcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.biticon{
  position: absolute;
  color: rgb(255, 255, 255);
  width: 60%;
  height: 60%;
  transition: color 0.3s ease;
  cursor: pointer;
  
  
}


.chillcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chillicon{
  position: absolute;
  color: rgb(255, 252, 252);
  transition: color 0.3s ease;
  cursor: pointer;
  width: 60%;
  height: 60%;
}
.rockcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rockicon{
  position: absolute;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
  cursor: pointer;
  width: 60%;
  height: 60%;
}
.pingcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pingicon{
  position: absolute;
  color: rgb(255, 254, 254);
  transition: color 0.3s ease;
  cursor: pointer;
  width: 60%;
  height: 60%;
}


.logo{
  width: 20vw;
  height: 25vh;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.container{
    position: relative;
    align-self: center;
    height: 60vh;
    width: 90vw;
    max-width: 500px;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    position: absolute;
    
    margin-top: 120px;
    
    
    bottom: 1vh;
}
.choosePlayer {
  position: absolute;
  display: flex;
  left: 50px;
  top: 250px;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  opacity: 0;
  height: 60vh;
  width: 25vw;
  transition: opacity 0.5s ease;
  border: 4px solid white;
  border-radius: 30px;
  background-color: white;
  
}
.choosePlayer.show{
  opacity: 1;
  pointer-events: auto;
}
.nataliaPartyka {
  flex: 1;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  transition: border-color 0.3s ease;
  background-image: url("./assets/NataliaPartyka.png");
  border-radius: 30px;

  background-size: cover;
  background-position: center;
}
.andrzejGrubba {
  flex: 1;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  transition: border-color 0.3s ease;
  background-image: url("./assets/AndrzejGrubba.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.andrzejGrubba:hover {
  border-color: white;
  
}
.nataliaPartyka:hover {
  border-color: white;
  
}
.containerForTwo{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.playerIconContainer,
.showSoundsContainer {
  flex: 1;
  max-width: 45%;
  height: 7vh;
  min-height: 20px;
}

.showSoundsButton{
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  z-index: 100;
  
  transition: all 0.5s ease;
  color: rgb(0, 0, 0);
  font-family: 'pixelfont', 'sans-serif';
  font-size: 0.9rem;
  cursor: pointer;
  
}
.showSoundsButton:hover{
  border-color: rgb(255, 255, 255);
  background-color: black;
  color: white;
}
.showSoundsButton:focus{
  border-radius: 50px;
}
.showPlayersButton{
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  
  z-index: 100;
  background-color: white;
  transition: all 0.5s ease;
  color: rgb(0, 0, 0);
  font-family: 'pixelfont', 'sans-serif';
  font-size: 0.9rem;
  cursor: pointer;
  
}
.showPlayersButton:hover{
  border-color: rgb(255, 255, 255);
  background-color: black;
  color: white;
}
.showPlayersButton:focus{
  border-radius: 50px;
}
@media (max-width: 768px) {
  .welcomeScreen{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
  }
  .welcomeScreen a.game,
  .welcomeScreen a.rules {
    width: 60vw;
    height: 3vh;
    font-size: 13px;
    padding: 20px;
    letter-spacing: 2px;
  }

  .container {
    height: fit-content;
    position: relative;
    justify-content: center;
    
    
  }
  
  

  
  .musicButtons{
    top: auto;
    right: 0px;
    bottom: 20px;

  }
 
.musicButtons input[type="radio"] {
    width: 15vw;  
    height: 15vw;
    min-width: 40px;
    min-height: 40px;
  }
  
  
  
  .choosePlayer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 95vw;
    z-index: 10000;
  }
  .logo{
    width: 60vw;
    height: 20vh;
  }
}



